/* You can add global styles to this file, and also import other style files */
body {
	background: #f3f3f3;
	margin: 15px 0 0 0;
	padding: 0;
	text-align: center;
}
a, h1, h2, h3, h4 {
	text-align: center;
	font-family: sans-serif;
}
